.sixGaneshas{
    height: 360px;
}

.moonImage{
    height: 36px;
    margin-bottom: 4px;
}

.whatYouGetList{
    list-style: initial;
    padding-left:24px;
}

.whatYouGetList li{
    margin-bottom: 12px;
}

.whyGanesha {
    width: 70% !important;
    margin: auto;
    background: #f3f3f3;
    padding: 36px;
    border-radius: 8px;
}

.faq-row {
    border-bottom: 1px solid #efefef !important;
}

.faq-row .arrow-image{
    opacity: 0.5;
}

.faq-row .row-content-text{
    color:#787878 !important;
    margin-top:10px;
    margin-bottom:12px;
    line-height: 1.3;
}

.instagramCTA{
    border-radius: 8px;
    padding: 16px;
    color: white;
    background: rgb(237,142,31);
    font-weight: bold;
    /* background: linear-gradient(315deg, rgba(237,142,31,1) 0%, rgba(230,104,60,1) 25%, rgba(220,39,67,1) 50%, rgba(204,35,102,1) 75%, rgba(188,24,136,1) 100%); */
}

.discordCTA{
    background:#5865F2;
    border-radius: 8px;
    padding: 16px;
    color: white;
    font-weight: bold;
}

.twitterCTA{
    background:#00acee;
    border-radius: 8px;
    padding: 16px;
    color: white;
    font-weight: bold;
}

.teamContainer {
    width: 50% !important;
    margin: auto;
    text-align: center;
}

.mintSchedule{
    flex-direction: row !important;
}

.carousel-five-images{
	position: relative;
}
.carousel-five-images img {
  width: 420px;
  height: 420px;
  z-index: 9;
}
.carousel-five-images .changing {
	position:absolute;
	opacity:0;
	top:0;
	left:0;
}
.carousel-five-images .two{
	animation:animate-five-two 10s infinite forwards ;
}
.carousel-five-images .three{
	animation:animate-five-three 10s infinite forwards ;
}
.carousel-five-images .four{
	animation:animate-five-four 10s infinite forwards ;
}
.carousel-five-images .five{
	animation:animate-five-five 10s infinite forwards ;
}

@keyframes animate-five-two
{
    0%	{opacity:0;}
    15% {opacity:0;}
    20% {opacity:1;}
    90% {opacity:1;}
    95% {opacity:0;}
}
@keyframes animate-five-three
{
    0% {opacity:0;}
    35% {opacity:0;}
    40% {opacity:1;}
    90% {opacity:1;}
    95% {opacity:0;}
}
@keyframes animate-five-four
{
    0% {opacity:0;}
    55% {opacity:0;}
    60% {opacity:1;}
    90% {opacity:1;}
    95% {opacity:0;}
}
@keyframes animate-five-five
{
    0% {opacity:0;}
    75% {opacity:0;}
    80% {opacity:1;}
    95% {opacity:1;}
    100% {opacity:0;}
}



#background-wrap {
    bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
    overflow-x: clip;
    overflow-y: inherit;
    text-align: center;
}

#background-wrap img{
    height: 36px;
}

/* .x1, .x2, .x3, .x4, .x5, .x6, .x7, .x8, .x9, .x10 {
    width: fit-content;
} */

/* KEYFRAMES */

@keyframes animateBubble1 {
    0% {
        transform: scale(0.6) translateX(20%) translateY(-500px);
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100% { 
        transform: scale(0.6) translateX(20%) translateY(100%);
        opacity: 0;
    }
}

@keyframes animateBubble2 {
    0% {
        transform: scale(0.4) translateX(25%) translateY(-500px);
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100% { 
        transform: scale(0.4) translateX(25%) translateY(100%);
        opacity: 0;
    }
}

@keyframes animateBubble3 {
    0% {
        transform: scale(0.7) translateX(-10%) translateY(-500px);
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100% { 
        transform: scale(0.7) translateX(-10%) translateY(100%);
        opacity: 0;
    }
}

@keyframes animateBubble4 {
    0% {
        opacity: 0;
        transform: scale(0.3) translateX(15%) translateY(-500px);
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100% { 
        transform: scale(0.3) translateX(15%) translateY(100%);
        opacity: 0;
    }
}

@keyframes animateBubble5 {
    0% {
        transform: scale(0.5) translateX(-15%) translateY(-500px);
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100% { 
        transform: scale(0.5) translateX(-15%) translateY(100%);
        opacity: 0;
    }
}

@keyframes animateBubble6 {
    0% {
        transform: scale(0.8) translateX(-25%) translateY(-500px);
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100% { 
        transform: scale(0.8) translateX(-25%) translateY(100%);
        opacity: 0;
    }
}

@keyframes animateBubble7 {
    0% {
        transform: scale(0.4) translateX(20%) translateY(-500px);
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100% { 
        transform: scale(0.4) translateX(20%) translateY(100%);
        opacity: 0;
    }
}

@keyframes animateBubble8 {
    0% {
        transform: scale(0.3) translateX(-10%) translateY(-500px);
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100% { 
        transform: scale(0.3) translateX(-10%) translateY(100%);
        opacity: 0;
    }
}

@keyframes animateBubble9 {
    0% {
        transform: scale(0.6) translateX(5%) translateY(-500px);
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100% { 
        transform: scale(0.6) translateX(5%) translateY(100%);
        opacity: 0;
    }
}

@keyframes animateBubble10 {
    0% {
        transform: scale(0.3) translateX(-5%) translateY(-500px);
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100% { 
        transform: scale(0.3) translateX(-5%) translateY(100%);
        opacity: 0;
    }
}


@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}


/* ANIMATIONS */

.x1 {
    opacity: 0;
    -webkit-animation: animateBubble1 15s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble1 15s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble1 15s linear infinite, sideWays 2s ease-in-out infinite alternate;
	/* left: -5%; */
	top: 5%;
	
	
}

.x2 {
    opacity: 0;
    -webkit-animation: animateBubble2 10s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble2 10s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble2 10s linear infinite, sideWays 4s ease-in-out infinite alternate;
	/* left: 5%; */
	top: 80%;
}

.x3 {
    opacity: 0;
    -webkit-animation: animateBubble3 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble3 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble3 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	/* left: 10%; */
	top: 40%;
}

.x4 {
    opacity: 0;
    -webkit-animation: animateBubble4 12s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble4 12s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble4 12s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	/* left: 20%; */
	top: 0;
}

.x5 {
    opacity: 0;
    -webkit-animation: animateBubble5 19s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble5 19s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble5 19s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	/* left: 30%; */
	top: 50%;
}

.x6 {
    -webkit-animation: animateBubble6 11s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble6 11s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble6 11s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	/* left: 50%; */
	top: 0;
}

.x7 {
    -webkit-animation: animateBubble7 10s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble7 10s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble7 10s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	/* left: 65%; */
	top: 70%;
}

.x8 {
    -webkit-animation: animateBubble8 12s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble8 12s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble8 12s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	/* left: 80%; */
	top: 10%;
}

.x9 {
    -webkit-animation: animateBubble9 19s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble9 19s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble9 19s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	/* left: 90%; */
	top: 50%;
}

.x10 {
    -webkit-animation: animateBubble10 16s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble10 16s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble10 16s linear infinite, sideWays 2s ease-in-out 2 alternate;
	
	/* left: 80%; */
	top: 80%;
}







@media (max-width:980px){
    .heroContainer {
        flex-direction: column-reverse;
        text-align: center;
    }
    .quantityButtons{
        justify-content: center !important;
    }
    .mintSchedule{
        flex-direction: column !important;
    }
    .carousel-five-images img{
        width: 100%;
        height: auto;
    }
    .sixGaneshas{
        width: 100%;
        height: auto;
    }
    .whyGanesha{
        width: 100% !important;
    }
    .whyGanesha div {
        margin-bottom: 20px;
    }
    .teamContainer{
        width: 100% !important;
    }
    .socialLinks {
        flex-direction: column !important;
    }
    .socialLinks a, .instagramCTA,.twitterCTA,.discordCTA{
        width: 100% !important;
        justify-content: center !important;
    }
}